.grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: 10% 20% 20% 40% 10%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    font-size: 20px;
    text-align: center;
  }
  .active{
      color: #000;
      font-style: italic;
      text-decoration: none;
  }